*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: grey;
}

.jumbotron {
    background-image: url(pizzeria.jpg);
    border-radius: 0%;
    background-position: center;
    background-size: cover;
    color: grey;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 0%;
    
    .button {
        background-color: grey;
        border: black 2px solid;
}
}

h2 {
    text-align: center;
    background-color: grey;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 0%;

}

.nosotros {
    background-color: grey;
    height: 365px;
    color: white;
    text-align: justify;
    border-top: 4px black solid;
}

.nleft {
    height: 365px;
    background-image: url(pizzero.jpg);
    background-position: center;
    background-size: cover;
}

.locales {
    height: auto;
    background-color: grey;
    border: 2px solid black;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black
}

.fotolocal {
    height: 100px;
    width: 100px;
}

.item {
    border: 2px solid black
}

footer {
    height: 40px;
    width: 100%;
    background-color: beige;
    border-radius: 0%;

}

footer p {
    text-align: center;
    color: black;
    text-shadow: 1cm 1cm 1cm white;

}

form {
    background-color: grey;
}

.button {
    border: 2px solid black;
}

@media only screen and (min-width:320px) and (max-width: 439px) {
    .nosotros {
        background-color: grey;
        min-height: 1200px;
        color: white;
        text-align: justify;
        border-top: 4px black solid;
    }
}

@media only screen and (min-width:440px) and (max-width: 767px) {
    .nosotros {
        background-color: grey;
        min-height: 950px;
        color: white;
        text-align: justify;
        border-top: 4px black solid;
    }
}

@media only screen and (min-width:768px) and (max-width: 1285px) {
    .nosotros {
        background-color: grey;
        min-height: 650px;
        color: white;
        text-align: justify;
        border-top: 4px black solid;
        text-align: center;
    }

    .nleft {
        min-height: 500px;
        background-image: url(pizzero.jpg);
        background-position: center;
        background-size: cover;
    }
}